<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Title</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'english_room/css/auth.css' %}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="col-lg-4 offset-lg-4 col-sm-12" id="info">
                <div class="headrer" id="swich_name">Вход</div>
                <div class="headrer" id="swich">
                    <div id="hzhz"><i class="fas fa-user-plus"></i></div>
                    <div id="hzhz1"><i class="fas fa-user-edit"></i></div>
                </div>
            </div>

                <input style="display: none;" id="csrf" value="{{ csrf_token }}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12 offset-lg-4">
                                <div class="container-fluid otst">
                                    <div class="row">
                                        <div class="col-sm-2 lable_inp"><i class="fas fa-user"></i></div>
                                        <div class="col-sm-10 inp_lab_div">
                                            <input class="form-control myclass-inp {{ error }}" type="text" placeholder="Логин" id="login" >
                                        </div>
                                    </div>
                                </div>
                             <div class="container-fluid otst">
                                 <div class="row">
                                     <div class="col-sm-2 lable_inp"><i class="fas fa-key"></i></div>
                                     <div class="col-sm-10 inp_lab_div">
                                     <input class="form-control myclass-inp {{ error }}" type="password" placeholder="Пароль" id="password"></div>
                                 </div>
                             </div>
                            <div class="container-fluid otst" id="repass">
                                 <div class="row">
                                     <div class="col-sm-2 lable_inp"><i class="fas fa-key"></i></div>
                                     <div class="col-sm-10 inp_lab_div">
                                     <input class="form-control myclass-inp {{ error }}" type="password" placeholder="Подтвердить пароль" id="repassword"></div>
                                 </div>
                             </div>
                            <button id="login_btn" type="submit">Вперед</button>
                            <button id="signup_btn" type="submit">Вперед</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'english_room/js/auth.js' %}"></script>
</body>
</html>